body {
	margin: 1.5em;
	font-family: "IBM Plex Sans";
	color: #333;

	--accent-0: #f8b195;
	--accent-1: #f67280;
	--accent-2: #c06c84;
	--accent-3: #6c567b;
	--accent-4: #70a9a1;
	--primary: #0b3954;
	--secondary: #F5EFE5;
	--secondary-light: #f8f3e5;
	--dark: #333;

}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

svg g {
	transform-origin: 50% 50%;
}

path, polyline, line, circle {
	opacity: 0;
}

.content a,
a.link {
	display: inline-block;
	color: inherit;
	border-radius: 2px;
	background-color: #ffffff20;
	padding: 1px 4px;
	text-decoration: none;
}

.content a:not(.button):hover {
	background-color: #ffffff10;
}

.button {
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
	color: inherit;
	transition: background-color 0.3s ease;
}

.button.is-outline {
	background-color: transparent;
	border: 1px solid #333;
}

.button.is-outline:hover {
	background-color: #333;
	color: var(--secondary);
}

.card {
	padding: 2em;
	border-radius: 1em;
	background-blend-mode: multiply;
	background-color: #00000010;
	margin-bottom: 1em;
}

.navbar {
	width: 100%;
	height: 3.5rem;
	background-color: var(--secondary);
}

.navbar .container {
	border-top: 1px solid #e1d6c2;
	box-shadow: 0 -1px 0 0 #fffefc;
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar-brand {
	color: var(--dark);
}

.navbar .navbar-group {
	display: flex;
	align-items: center;
}

.navbar a.navbar-item {
	color: #aaa;
	text-decoration: none;
}

.navbar a.navbar-item:hover {
	color: var(--dark);
}

.navbar a.navbar-item:not(:first-child) {
	margin-left: 1em;
}

.container {
	box-sizing: border-box;
	width: 800px;
	margin: 0 auto;
	padding: 0 1em;
}

img {
	width: 100%;
}

section {
	width: 100%;
	padding: 5em 0;
}

section.hero {
	padding: 8em 0;
}

section.hero .container {
	transition: opacity 1s ease;
}

section.hero .hero-title {
	font-family: "Montserrat";
	margin: 0 0 0.1em 0;
	font-size: 5em;
}

section.hero .hero-date {
	font-style: italic;
	font-size: 2em;
}

section.hero .hero-desc {
	max-width: 400px;
	margin: 0 auto;
}

section.hero .container {
	text-align: center;
}

.stroke {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.stroke.is-white {
	-webkit-text-stroke-color: white;
}

.fg-white { color: white; }
.fg-accent-0 { color: var(--accent-0); }
.fg-accent-1 { color: var(--accent-1); }
.fg-accent-2 { color: var(--accent-2); }
.fg-accent-3 { color: var(--accent-3); }
.fg-accent-4 { color: var(--accent-4); }
.fg-dark { color: #444; }

.bg-accent-0 { background-color: var(--accent-0); }
.bg-accent-1 { background-color: var(--accent-1); }
.bg-accent-2 { background-color: var(--accent-2); }
.bg-accent-3 { background-color: var(--accent-3); }
.bg-accent-4 { background-color: var(--accent-4); }
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-dark { background-color: #444; }

.title {
	font-size: 2em;
	font-style: italic;
}

.subtitle {
	font-size: 3em;
}

.faq-item {
	box-sizing: border-box;
	padding: 1em;
}

.mb-5 {
	margin-bottom: 0.5em
}

.card-expand {
	transition: all 0.5s ease;
}

.card-expand p {
	box-sizing: border-box;
	max-height: 0px;
	transition: all 0.5s ease;
	overflow: hidden;
	margin: 0;
}

.card-expand[data-expanded=true] p {
	display: block;
	max-height: 300px;
	margin: 1em 0 0 0;
}

footer {
	text-align: center;
	padding: 0.5em 0;
	color: #999;
}

footer p {
	margin: 0;
}

footer ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
}

footer ul li {
	padding: 0 1em;
}

footer ul li:not(:first-child) {
	border-left: 1px solid #666;
}

.main-svg {
	width: 60%;
}

table {
  border-collapse: collapse;
	width: 100%;
}

thead {
	border-bottom: 2px solid #00000055;

}

th, td {
  border-bottom: 1px solid #00000055;
}

tr:last-child th, tr:last-child td {
	border: 0;
}

th, td {
	padding: 0.5em 0.75em;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}

#map {
	height: 500px;
}

@media only screen and (max-width: 850px) {
	.main-svg {
		width: 100%;
	}
	section.hero .hero-title {
		font-size: 3rem;
	}
	.container {
		width: 100%;
	}
	.navbar-brand {
		display: none;
	}
}
