@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  color: #031b4e;
  min-width: 300px;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Inter";
  line-height: 1.15;
}

.title {
  font-size: 3em;
}
.title:not(:last-child) {
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 2em;
}
.subtitle:not(:last-child) {
  margin-bottom: 0.5em;
}
.title + .subtitle {
  margin-top: -0.25em;
}

.paragraph:not(:last-child) {
  margin-bottom: 1em;
}

.label {
  font-size: 0.85em;
  margin-bottom: 0.5em;
}
.label.is-caps {
  text-transform: uppercase;
  letter-spacing: 0.23em;
  transform: scale(1, 0.95);
}

a {
  color: #3273dc;
}

b {
  font-weight: 700;
}

.has-centered {
  display: flex;
  align-items: center;
}

.is-fullwidth {
  width: 100%;
}

.has-fg-black {
  color: #0a0a0a;
}

.has-bg-black {
  background-color: #0a0a0a;
}

.has-fg-dark {
  color: #010e28;
}

.has-bg-dark {
  background-color: #010e28;
}

.has-fg-grey {
  color: #b3b3b3;
}

.has-bg-grey {
  background-color: #b3b3b3;
}

.has-fg-light {
  color: #f3f5f9;
}

.has-bg-light {
  background-color: #f3f5f9;
}

.has-fg-white {
  color: #fff;
}

.has-bg-white {
  background-color: #fff;
}

.has-fg-red {
  color: #f14668;
}

.has-bg-red {
  background-color: #f14668;
}

.has-fg-orange {
  color: #ff470f;
}

.has-bg-orange {
  background-color: #ff470f;
}

.has-fg-yellow {
  color: #ffdd57;
}

.has-bg-yellow {
  background-color: #ffdd57;
}

.has-fg-green {
  color: #48c774;
}

.has-bg-green {
  background-color: #48c774;
}

.has-fg-turquoise {
  color: #00d1b2;
}

.has-bg-turquoise {
  background-color: #00d1b2;
}

.has-fg-cyan {
  color: #3298dc;
}

.has-bg-cyan {
  background-color: #3298dc;
}

.has-fg-blue {
  color: #3273dc;
}

.has-bg-blue {
  background-color: #3273dc;
}

.has-fg-purple {
  color: #b86bff;
}

.has-bg-purple {
  background-color: #b86bff;
}

.has-fg-lightred {
  color: #f8a5b6;
}

.has-bg-lightred {
  background-color: #f8a5b6;
}

.has-fg-lightorange {
  color: #ff9575;
}

.has-bg-lightorange {
  background-color: #ff9575;
}

.has-fg-lightyellow {
  color: #fff2bd;
}

.has-bg-lightyellow {
  background-color: #fff2bd;
}

.has-fg-lightgreen {
  color: #96dfaf;
}

.has-bg-lightgreen {
  background-color: #96dfaf;
}

.has-fg-lightturquoise {
  color: #9efff0;
}

.has-bg-lightturquoise {
  background-color: #9efff0;
}

.has-fg-lightcyan {
  color: #89c4eb;
}

.has-bg-lightcyan {
  background-color: #89c4eb;
}

.has-fg-lightblue {
  color: #96ccdf;
}

.has-bg-lightblue {
  background-color: #96ccdf;
}

.has-fg-lightpurple {
  color: #e9d1ff;
}

.has-bg-lightpurple {
  background-color: #e9d1ff;
}

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

textarea, input {
  box-sizing: border-box;
  box-shadow: 0 0 1px 2px #00000011;
  border-color: #010e28;
  border-width: 1px;
  border-style: solid;
  padding: 0.5em 0.5em;
  max-width: 100%;
  width: 100%;
}
textarea[readonly], input[readonly] {
  box-shadow: none;
}
textarea.is-rounded, input.is-rounded {
  border-radius: 4px;
}

textarea {
  display: block;
  resize: vertical;
  min-width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 40em;
}

/*

I don't think there is almost ever a scenario when you want columns to be flex
if and only if it's smaller. Working with that assumption, `columns
is-desktop` defines that you want it to only begin being a columns after the
desktop breakpoint.

*/
.columns {
  display: flex;
  margin: -0.75em;
}
.columns:not(:last-child) {
  margin-bottom: 0.75em;
}
.columns.is-centered {
  justify-content: center;
}
.columns.is-vcentered {
  align-items: center;
}
.columns.is-wrapped {
  flex-wrap: wrap;
}
@media only screen and (max-width: 700px) {
  .columns.is-tablet {
    display: block;
  }
}
@media only screen and (max-width: 1024px) {
  .columns.is-desktop {
    display: block;
  }
}
@media only screen and (max-width: 1216px) {
  .columns.is-widescreen {
    display: block;
  }
}
.columns .column {
  box-sizing: border-box;
  display: block;
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75em;
}
.columns .column.is-1 {
  flex: none;
  width: 8.3333333333%;
}
.columns .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns .column.is-2 {
  flex: none;
  width: 16.6666666667%;
}
.columns .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns .column.is-3 {
  flex: none;
  width: 25%;
}
.columns .column.is-offset-3 {
  margin-left: 25%;
}
.columns .column.is-4 {
  flex: none;
  width: 33.3333333333%;
}
.columns .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns .column.is-5 {
  flex: none;
  width: 41.6666666667%;
}
.columns .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns .column.is-6 {
  flex: none;
  width: 50%;
}
.columns .column.is-offset-6 {
  margin-left: 50%;
}
.columns .column.is-7 {
  flex: none;
  width: 58.3333333333%;
}
.columns .column.is-offset-7 {
  margin-left: 58.3333333333%;
}
.columns .column.is-8 {
  flex: none;
  width: 66.6666666667%;
}
.columns .column.is-offset-8 {
  margin-left: 66.6666666667%;
}
.columns .column.is-9 {
  flex: none;
  width: 75%;
}
.columns .column.is-offset-9 {
  margin-left: 75%;
}
.columns .column.is-10 {
  flex: none;
  width: 83.3333333333%;
}
.columns .column.is-offset-10 {
  margin-left: 83.3333333333%;
}
.columns .column.is-11 {
  flex: none;
  width: 91.6666666667%;
}
.columns .column.is-offset-11 {
  margin-left: 91.6666666667%;
}
.columns .column.is-12 {
  flex: none;
  width: 100%;
}
.columns .column.is-offset-12 {
  margin-left: 100%;
}
@media only screen and (min-width: 700px) {
  .columns .column.is-1-tablet {
    flex: none;
    width: 8.3333333333%;
  }
  .columns .column.is-offset-1-tablet {
    margin-left: 8.3333333333%;
  }
  .columns .column.is-2-tablet {
    flex: none;
    width: 16.6666666667%;
  }
  .columns .column.is-offset-2-tablet {
    margin-left: 16.6666666667%;
  }
  .columns .column.is-3-tablet {
    flex: none;
    width: 25%;
  }
  .columns .column.is-offset-3-tablet {
    margin-left: 25%;
  }
  .columns .column.is-4-tablet {
    flex: none;
    width: 33.3333333333%;
  }
  .columns .column.is-offset-4-tablet {
    margin-left: 33.3333333333%;
  }
  .columns .column.is-5-tablet {
    flex: none;
    width: 41.6666666667%;
  }
  .columns .column.is-offset-5-tablet {
    margin-left: 41.6666666667%;
  }
  .columns .column.is-6-tablet {
    flex: none;
    width: 50%;
  }
  .columns .column.is-offset-6-tablet {
    margin-left: 50%;
  }
  .columns .column.is-7-tablet {
    flex: none;
    width: 58.3333333333%;
  }
  .columns .column.is-offset-7-tablet {
    margin-left: 58.3333333333%;
  }
  .columns .column.is-8-tablet {
    flex: none;
    width: 66.6666666667%;
  }
  .columns .column.is-offset-8-tablet {
    margin-left: 66.6666666667%;
  }
  .columns .column.is-9-tablet {
    flex: none;
    width: 75%;
  }
  .columns .column.is-offset-9-tablet {
    margin-left: 75%;
  }
  .columns .column.is-10-tablet {
    flex: none;
    width: 83.3333333333%;
  }
  .columns .column.is-offset-10-tablet {
    margin-left: 83.3333333333%;
  }
  .columns .column.is-11-tablet {
    flex: none;
    width: 91.6666666667%;
  }
  .columns .column.is-offset-11-tablet {
    margin-left: 91.6666666667%;
  }
  .columns .column.is-12-tablet {
    flex: none;
    width: 100%;
  }
  .columns .column.is-offset-12-tablet {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .columns .column.is-1-desktop {
    flex: none;
    width: 8.3333333333%;
  }
  .columns .column.is-offset-1-desktop {
    margin-left: 8.3333333333%;
  }
  .columns .column.is-2-desktop {
    flex: none;
    width: 16.6666666667%;
  }
  .columns .column.is-offset-2-desktop {
    margin-left: 16.6666666667%;
  }
  .columns .column.is-3-desktop {
    flex: none;
    width: 25%;
  }
  .columns .column.is-offset-3-desktop {
    margin-left: 25%;
  }
  .columns .column.is-4-desktop {
    flex: none;
    width: 33.3333333333%;
  }
  .columns .column.is-offset-4-desktop {
    margin-left: 33.3333333333%;
  }
  .columns .column.is-5-desktop {
    flex: none;
    width: 41.6666666667%;
  }
  .columns .column.is-offset-5-desktop {
    margin-left: 41.6666666667%;
  }
  .columns .column.is-6-desktop {
    flex: none;
    width: 50%;
  }
  .columns .column.is-offset-6-desktop {
    margin-left: 50%;
  }
  .columns .column.is-7-desktop {
    flex: none;
    width: 58.3333333333%;
  }
  .columns .column.is-offset-7-desktop {
    margin-left: 58.3333333333%;
  }
  .columns .column.is-8-desktop {
    flex: none;
    width: 66.6666666667%;
  }
  .columns .column.is-offset-8-desktop {
    margin-left: 66.6666666667%;
  }
  .columns .column.is-9-desktop {
    flex: none;
    width: 75%;
  }
  .columns .column.is-offset-9-desktop {
    margin-left: 75%;
  }
  .columns .column.is-10-desktop {
    flex: none;
    width: 83.3333333333%;
  }
  .columns .column.is-offset-10-desktop {
    margin-left: 83.3333333333%;
  }
  .columns .column.is-11-desktop {
    flex: none;
    width: 91.6666666667%;
  }
  .columns .column.is-offset-11-desktop {
    margin-left: 91.6666666667%;
  }
  .columns .column.is-12-desktop {
    flex: none;
    width: 100%;
  }
  .columns .column.is-offset-12-desktop {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 1216px) {
  .columns .column.is-1-widescreen {
    flex: none;
    width: 8.3333333333%;
  }
  .columns .column.is-offset-1-widescreen {
    margin-left: 8.3333333333%;
  }
  .columns .column.is-2-widescreen {
    flex: none;
    width: 16.6666666667%;
  }
  .columns .column.is-offset-2-widescreen {
    margin-left: 16.6666666667%;
  }
  .columns .column.is-3-widescreen {
    flex: none;
    width: 25%;
  }
  .columns .column.is-offset-3-widescreen {
    margin-left: 25%;
  }
  .columns .column.is-4-widescreen {
    flex: none;
    width: 33.3333333333%;
  }
  .columns .column.is-offset-4-widescreen {
    margin-left: 33.3333333333%;
  }
  .columns .column.is-5-widescreen {
    flex: none;
    width: 41.6666666667%;
  }
  .columns .column.is-offset-5-widescreen {
    margin-left: 41.6666666667%;
  }
  .columns .column.is-6-widescreen {
    flex: none;
    width: 50%;
  }
  .columns .column.is-offset-6-widescreen {
    margin-left: 50%;
  }
  .columns .column.is-7-widescreen {
    flex: none;
    width: 58.3333333333%;
  }
  .columns .column.is-offset-7-widescreen {
    margin-left: 58.3333333333%;
  }
  .columns .column.is-8-widescreen {
    flex: none;
    width: 66.6666666667%;
  }
  .columns .column.is-offset-8-widescreen {
    margin-left: 66.6666666667%;
  }
  .columns .column.is-9-widescreen {
    flex: none;
    width: 75%;
  }
  .columns .column.is-offset-9-widescreen {
    margin-left: 75%;
  }
  .columns .column.is-10-widescreen {
    flex: none;
    width: 83.3333333333%;
  }
  .columns .column.is-offset-10-widescreen {
    margin-left: 83.3333333333%;
  }
  .columns .column.is-11-widescreen {
    flex: none;
    width: 91.6666666667%;
  }
  .columns .column.is-offset-11-widescreen {
    margin-left: 91.6666666667%;
  }
  .columns .column.is-12-widescreen {
    flex: none;
    width: 100%;
  }
  .columns .column.is-offset-12-widescreen {
    margin-left: 100%;
  }
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
}
@media only screen and (min-width: 700px) {
  .container {
    width: 700px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media only screen and (min-width: 1216px) {
  .container {
    width: 1216px;
  }
}

.section.is-small {
  padding: 2em 0;
}
.section.is-medium {
  padding: 2em 0;
}
.section.is-large {
  padding: 4em 0;
}
.section.is-fullheight {
  box-sizing: border-box;
  min-height: 100vh;
}

.button {
  background-color: white;
  border-color: #010e28;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}
.button.is-hover, .button:hover {
  border-color: #b3b3b3;
  color: #010e28;
}
.button.is-active, .button:active {
  border-color: #b3b3b3;
  color: #010e28;
}
.button.is-focus, .button:focus {
  border-color: #b3b3b3;
  color: #010e28;
}
.button.is-link {
  background-color: transparent;
  border-color: transparent;
  color: #031b4e;
  text-decoration: underline;
}

.card {
  color: inherit;
  background-color: white;
  border-color: #010e28;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
.card .card-header {
  box-shadow: 0 -1px 0 0 #00000021;
  padding: 1em;
}
.card .card-body {
  padding: 1em;
}
.card > *:not(:first-child) {
  border-top-color: #010e28;
  border-top-width: 1px;
  border-top-style: solid;
}
.card:not(:last-child) {
  margin-bottom: 1em;
}

html {
  scroll-behavior: smooth;
}

.subtitle,
.title {
  font-weight: 900;
}

.light-box {
  box-sizing: border-box;
  box-shadow: 0 4px 12px 0px #0023830a;
  padding: 2em;
  background-color: #f3f5f9;
  height: 100%;
}
.light-box.is-protruding {
  margin: 0 -2em;
}

#typer {
  height: 1em;
}

.font-type {
  font-family: "B612 Mono", sans-serif;
}

.navbar {
  display: flex;
  padding: 1em 0;
}
.navbar .navbar-brand {
  flex: 1;
}
.navbar .navbar-brand .navbar-item {
  font-weight: 600;
  color: #031b4e;
}
.navbar .navbar-menu {
  display: flex;
}
.navbar .navbar-item,
.navbar a.navbar-item {
  font-weight: 600;
  text-decoration: none;
  padding: 0.5em;
  color: #005fff;
}
.navbar .navbar-item:hover,
.navbar a.navbar-item:hover {
  opacity: 0.8;
}

.main-section {
  display: flex;
  box-sizing: border-box;
  min-height: calc(100vh - 4em);
  align-items: stretch;
}
.main-section > .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.main-section .main-title {
  position: relative;
  font-weight: 600;
  font-size: 5em;
  margin-bottom: 0.9em;
}
@media only screen and (min-width: 1024px) {
  .main-section .main-title {
    font-size: 8em;
    margin-bottom: 0.3em !important;
  }
}
.main-section .main-image {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}
@media only screen and (min-width: 700px) {
  .main-section .main-image {
    position: absolute;
    width: unset;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.main-apply {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid #031b4e;
  margin-top: 1em;
  font-size: 1.2rem;
  font-weight: 600;
  background: none;
  color: #031b4e;
  transition: all 0.1s ease;
}
.main-apply:before {
  position: absolute;
  right: -1em;
  display: inline-block;
  content: " ›";
  transition: right 0.3s ease;
}
.main-apply:after {
  display: inline-block;
  width: 0em;
  content: "";
  transition: width 0.3s ease;
}
.main-apply:hover {
  opacity: 0.5;
  border: 1px solid #031b4e;
}
.main-apply:hover:before {
  right: 1em;
}
.main-apply:hover:after {
  width: 3em;
}

.prize-image {
  width: 4em;
  margin-bottom: 0.5em;
}

.team-list-item {
  text-align: center;
  padding: 2em 0;
}
.team-list-item .team-avatar {
  overflow: hidden;
  position: relative;
  height: 0;
  width: calc(100% - 2em);
  margin: 0 1em;
  padding-top: calc(100% - 2em);
  border: 0;
  border-radius: 999em;
  background-color: #f9f9f951;
  margin-bottom: 0.3em;
}
.team-list-item .team-avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.team-list-item .team-name {
  font-weight: 900;
  margin-bottom: 0.3em;
}
.hero-text {
  font-size: 1.4em;
}
@media only screen and (min-width: 700px) {
  .hero-text {
    padding: 1em;
  }
}

.footer {
  color: white;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer a:hover {
  opacity: 0.8;
}
.footer .footer-list-item {
  display: block;
  color: inherit;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.4em;
}

/*# sourceMappingURL=style.css.map */
