/* Error: Can't find stylesheet to import.
 *    ,
 * 41 | @import "briefscss/briefs.scss";
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles/style.scss 41:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 41 \2502  @import \"briefscss/briefs.scss\";\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles/style.scss 41:9  root stylesheet";
}
