$text: #fff;
$family-sans-serif: "Inter";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
@import "briefscss/briefs.scss";

html {
	scroll-behavior: smooth;
	background-color: #222;
}

#typer {
	height: 1em;
}

.subtitle {
	color: #f7c161;
}

.font-type {
	font-family: "B612 Mono", sans-serif;
}

.navbar {
	display: flex;
	padding: 1em 0;
}

.navbar-brand {
	flex: 1;
}

.navbar-menu {
	display: flex;
}

.navbar-item, a.navbar-item {
	text-decoration: none;
	padding: 0.5em;
	color: #f7c161;

	&:hover {
		opacity: 0.8;
	}
}

.navbar-brand .navbar-item {
	font-weight: 600;
	color: white;
}

.main-section {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: end;
	min-height: calc(100vh - 4em);

}

.main-apply-container {
	display: block;
	
	@include gt("tablet") {
		position: absolute;
		right: 0;
		bottom: 0.15em;
	}
}

.main-apply {
	position: relative;
	overflow: hidden;
	padding: 1rem;
	border: 1px solid #fff;
	margin-top: 1em;
	font-size: 1.2rem;
	font-weight: 600;
	background: none;
	color: #fff;
	transition: all 0.1s ease;

	&:before {
		position: absolute;
		right: -1em;
		display: inline-block;
		content: " ›";
		transition: right 0.3s ease;
	}

	&:after {
		display: inline-block;
		width: 0em;
		content: "";
		transition: width 0.3s ease;
	}

	&:hover {
		color: #ffffffcc;

		&:before {
			right: 1em;
		}

		&:after {
			width: 3em;
		}
	}
}

.main-title {
	position: relative;
	font-weight: 600;
	font-size: 5em;
	margin-bottom: 0.9em;

	@include gt(desktop) {
		font-size: 8em;
		margin-bottom: 0.3em!important;
	}
}

.main-triple {
	background-color: #333;
	padding: 4em;
	margin-top: 4em;
	align-items: stretch;

	.vr {
		display: none;
	}

	@include gt("desktop") {
		.vr {
			display: block;
		}
	}
}

hr {
	margin: 4em 0;
	border-top: 1px solid #ccc;
}

div.vr {
	align-self: stretch;
	margin: 0 2em;
	border-left: 1px solid #ccc;
}
